
<div class="container-fluid g-0">
    <app-navbar></app-navbar>

    <main>

        <div class="toolbar">
            <div class="add-book">
                <button type="button" 
                class="btn btn-outline-success btn-lg">Add Book</button>
            </div>
            <div class="search-book">
                <input type="search" class="form-control" placeholder="Search Books">
            </div>
        </div>

        <div class="books">

            <div class="row mt-5">
                <div class="col text-center">
                    <span class="text-secondary fs-2 fw-bold fst-italic">
                        There are no Books Added!
                    </span>
                </div>
            </div>
        </div>
    </main>
</div>
<router-outlet></router-outlet>
